---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
>
  <channel>
    <title>{{ site.title }}</title>
    <description>{{ site.description }}</description>
    <sy:updatePeriod>daily</sy:updatePeriod>
    <sy:updateFrequency>1</sy:updateFrequency>
    <link>{{ site.url }}</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    {% if collections.posts | length %}
    <lastBuildDate>{{ collections.posts[0].date | dateToRfc822 }}</lastBuildDate>
    {% endif %}
    {% for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <dc:creator>{{ site.author }}</dc:creator>
      <description>{{ post.templateContent | escape }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
    </item>
    {% endfor %}
  </channel>
</rss>
